doctype html
html
  head
    title= title  

    link(rel='stylesheet', href='/styles/styles.css') 

    script(data-main="js/main.js", src="js/lib/requirejs/require.js")

    script(type="text/javascript" src="js/googlemaps/maps.js")
    script(type="text/javascript" src="js/googlemaps/main.js")

  body
    block content
