doctype html
html
  head
    title= title  

    link(rel='stylesheet', href='/styles/styles.css') 

    script(data-main="js/main.js", src="js/lib/requirejs/require.js")

    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYTSunc12HBchJjQX8_-dbhwXaF8QiLZ8")

  body
    block content
