doctype html
html
  head
    title Citibike Stats    

    script(data-main="citibike/statsMain.js", src="citibike/lib/requirejs/require.js")

    link(rel='stylesheet', href='static/styles/styles.css')

  body
    h1 Current Citibike Stats
    #stats-table
